# List Operations in Python 3 | Python Tutorials on Data Structures

In [2]:
#Author: https://www.linkedin.com/in/sanketshindepune/

In [3]:
#Important Categories of Data Structures in Python 3

# Creation of List in Python 3

In [4]:
#List Definition

In [7]:
i=[3,4,5]                # list can store heterogenous type of data it means combination of numeric/char
print(i,type(i))

[3, 4, 5] <class 'list'>

In [31]:
i=[3,"rg",5]                # put elements, separated by commas, in pair of square-brackets
print(i,type(i))

[3, 'rg', 5] <class 'list'>

In [9]:
i=[3,4,5,9.78,'ty',7+8]# list can store heterogenous type of data it means combination of numeric/char
print(i,type(i))

[3, 4, 5, 9.78, 'ty', 15] <class 'list'>

In [131]:
num = [2 ** z for z in range(10)] # x  ranges from 0 to 9

print(num)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [10]:
i=[3,4-2,5/3,"str"+"new"]   # list can store heterogenous type of data it means combination of numeric/char
print(i,type(i))

[3, 2, 1.6666666666666667, 'strnew'] <class 'list'>

In [13]:
#List is mutable in nature
list1=["gt",44,78]
print(list1)
#one can mutate every element in a list ae per their need
list1[0]="hello" # i replaced "gt" to "hello"
print(list1)

['gt', 44, 78]
['hello', 44, 78]

In [15]:
list2= [3,4,5]
list2=list2+3  #TypeError: can only concatenate list (not "int") to list

TypeError: can only concatenate list (not "int") to list

In [19]:
#list is dynamic in nature, it means it can be extended
lt1=[4,5,7]
lt2=[5,6,7,"amit"]
lt3=lt1+lt2  # symbol '+' will concatenate two lists
print(lt3)

[4, 5, 7, 5, 6, 7, 'amit']

In [20]:
print(type([4,6,7,99,45]))

<class 'list'>

In [22]:
list1=['+','-','*','/'] #symbol list
print(list1)

['+', '-', '*', '/']

In [23]:
list2=["ab",'cd',"a"+"g"]
print(list2)

['ab', 'cd', 'ag']

In [25]:
list1=[] #empty list
print(list1,type(list1))

[] <class 'list'>

In [28]:
new_list=[1,2,3,"hello",[34,56]]
print(newl_list)  #NameError: name 'newl_list' is not defined

NameError: name 'newl_list' is not defined

In [29]:
new_list=[1,2,3,"hello",[34,56]]
print(new_list)

[1, 2, 3, 'hello', [34, 56]]

# How to Access a list with index

In [36]:
list1=['A','B','C','D','E','U']
print(list1[0]) #index of first element, in Python, index starts zero,0
print(list1[-1]) # index of last element
print(list1[-2]) #index of second last elememt
print(list1[-6]) #index of first element

A
U
E
A

In [39]:
print(list1[0:4]) # print elements at index 0,1,2,3 #skip last index, 4

['A', 'B', 'C', 'D']

In [40]:
print(list1[2:4])

['C', 'D']

In [42]:
print(list1[1.3]) #TypeError: list indices must be integers or slices, not float

TypeError: list indices must be integers or slices, not float

In [51]:
list1=[1,3,4,"hello",[7,8,9]]
print(list1[4])
print(list1[4][0])
print(list1[4][2])
print(list1[4][0:1])
print(list1[4][2],type(list1[4][2]))
print(list1[4][0:2],type(list1[4][0:2]))

[7, 8, 9]
7
9
[7]
9 <class 'int'>
[7, 8] <class 'list'>

In [52]:
list1=[1,3,4,"hello",[7,8,9]]
print(list1[0:3])

[1, 3, 4]

In [58]:
list1=[2,3,4,6,7,8]
# elements 3rd to 5th # skip last index
print(list1[2:5])

# elements with negative index
print(list1[:-2])

# elements 5th to end
print(list1[4:])

# elements beginning to end
print(list1[:])

[4, 6, 7]
[2, 3, 4, 6]
[7, 8]
[2, 3, 4, 6, 7, 8]

# How to add or change elements in a list

In [60]:
rugby=[89,8,5,7,100]

rugby[0] = 145            

print(rugby)

# change 2nd to 4th items
rugby[1:4] = [30, 50, 70]

print(rugby)

[145, 8, 5, 7, 100]
[145, 30, 50, 70, 100]

In [68]:
rugby=[89,8,5,7,100]

rugby.append([67,78]) #append function will add elements as a sublist
print(rugby)

rugby.append(55) #append function will add elements as a sublist
print(rugby)

rugby.extend([9, 11, 13]) #extend function will add each element as an item
print(rugby)

[89, 8, 5, 7, 100, [67, 78]]
[89, 8, 5, 7, 100, [67, 78], 55]
[89, 8, 5, 7, 100, [67, 78], 55, 9, 11, 13]

In [70]:
list1=[4,5,"pi"]

list2=list1+5+"hello" #TypeError: can only concatenate list (not "int") to list

print(list2)

TypeError: can only concatenate list (not "int") to list

In [75]:
rugby = [1, 53, 75]

print(rugby + [19, 37, 85]) #extend a list

print(["gre"] * 3) #repetition of list

[1, 53, 75, 19, 37, 85]
['gre', 'gre', 'gre']

# How to remove or delete elements in a list

In [73]:
newlist = ['A','B','C','D','E','F']

# delete one item
del newlist[2]

print(newlist)

# delete multiple items
del newlist[1:3]  #elements at index 1 & 2

print(newlist)

# delete entire list
del newlist       

print(my_list) #NameError: name 'my_list' is not defined

['A', 'B', 'D', 'E', 'F']
['A', 'E', 'F']

NameError: name 'my_list' is not defined

In [79]:
newl = [77,88,66,33,'hi','m','p','r']
newl.remove('hi') #remove method for item removal

print(newl)

print(newl.pop(1)) #element at index 1
print(newl)

print(newl.pop()) #pop last element in list & print element at last index - 'r'

print(newl) #print list

newl.clear() #to empty a list

print(newl) #empty list

[77, 88, 66, 33, 'm', 'p', 'r']
88
[77, 66, 33, 'm', 'p', 'r']
r
[77, 66, 33, 'm', 'p']
[]

# List Methods in Python 3

In [126]:
listt=[4,6,7,8]
print(listt)
listt.append([2,3,4])
print("append([2,3,4]")
print(listt)

print("remove([2,3,4]")
print(listt)
listt.remove([2,3,4])
print(listt)

print("extend([2,3,4]")
listt.extend([2,3,4])
print(listt)

print("insert 99 at index 6")
listt.insert(6,99) #doesnt delete an element instead push it
print(listt)


print("remove 7 ")
listt.remove(7) #remove element of value 7 from list
print(listt)


print("pop element at index,3")
listt.pop(3) #remove element at index 3 from list
print(listt)


print("returns the index of first match of value 99")
print(listt.index(99)) 

print("Type", type(listt))

print(listt)
print("reverse the order of elements in list")
listt.reverse()
print(listt)


print("Sort list in ascending order")
listt.sort()
print(listt)

print("Cleared list")
listt.clear()
print(listt)

[4, 6, 7, 8]
append([2,3,4]
[4, 6, 7, 8, [2, 3, 4]]
remove([2,3,4]
[4, 6, 7, 8, [2, 3, 4]]
[4, 6, 7, 8]
extend([2,3,4]
[4, 6, 7, 8, 2, 3, 4]
insert 99 at index 6
[4, 6, 7, 8, 2, 3, 99, 4]
remove 7
[4, 6, 8, 2, 3, 99, 4]
pop element at index,3
[4, 6, 8, 3, 99, 4]
returns the index of first match of value 99
4
Type <class 'list'>
[4, 6, 8, 3, 99, 4]
reverse the order of elements in list
[4, 99, 3, 8, 6, 4]
Sort list in ascending order
[3, 4, 4, 6, 8, 99]
Cleared list
[]

# Additional Operations on List in Python 3

In [127]:
list1 = [45,67,89,90,199]

print(45 in list1)

print(46 not in list1)

print(1 in list1)

True
True
False

In [129]:
for car in ['Maruti','Hyundai''Tesla','Ford']:
    print("I like",car)

I like Maruti
I like HyundaiTesla
I like Ford

In [ ]:

sorted()	Return a new sorted list (does not sort the list itself).
sum()	Return the sum of all elements in the list.

In [142]:
print(all([4,-5,6])) #check if all list elements are true or if list is empty

True

In [141]:
print(any([0,9,-1])) #check if any list element is true or if list is empty

True

In [143]:
print(all([]))

True

In [147]:
print(any([]))

False

In [148]:
list1=[3,4,5] #number of items in list
len(list1)

3

In [151]:
list1=[3,4,5] # items in list
max(list1),min(list1) #max-min values

(5, 3)

In [158]:
list1=[34,5,6,45,13]
list2=sorted(list1) #it will return new list
print(list1,"\n",list2)

print("-----------")
list3=[34,56,7,89,10]
print(list3)
list3.sort() #it will sort original list
print(list3)

[34, 5, 6, 45, 13]
 [5, 6, 13, 34, 45]
-----------
[34, 56, 7, 89, 10]
[7, 10, 34, 56, 89]

In [137]:
mylist=list("NVIDIA") #explicit type conversion from (tuple, string, set, dictionary) to a list.
print(mylist,type(mylist))

['N', 'V', 'I', 'D', 'I', 'A'] <class 'list'>

In [134]:
high = [2 ** z for z in range(10) if z < 5] #will range from 0 to 4
print(high)

[1, 2, 4, 8, 16]

In [136]:
high = [2*z for z in range(10) if z < 5] #will range from 0 to 4
print(high)
print(type(high))

[0, 2, 4, 6, 8]
<class 'list'>